@model WorthIt.Models.ViewModels.ProductVM

@{
    var title = "Add Smartphone";
}


<form method="post" enctype="multipart/form-data">

    @if (Model.Product.Id != 0)
    {
        title = "Edit Smartphone";
        <input asp-for="Product.Id" hidden />
    }


    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">@title</h2>
        </div>

        <div class="row">
            <div class="col-8">

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.ShortDesc"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.ShortDesc" class="form-control" />
                        <span asp-validation-for="Product.ShortDesc" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Material"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Material" class="form-control" />
                        <span asp-validation-for="Product.Material" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.DisplaySize"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.DisplaySize" class="form-control" />
                        <span asp-validation-for="Product.DisplaySize" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.DisplayType"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.DisplayType" class="form-control" />
                        <span asp-validation-for="Product.DisplayType" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.OS"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.OS" class="form-control" />
                        <span asp-validation-for="Product.OS" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CPU"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.CPU" class="form-control" />
                        <span asp-validation-for="Product.CPU" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Benchmark"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Benchmark" class="form-control" />
                        <span asp-validation-for="Product.Benchmark" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.RAM"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.RAM" class="form-control" />
                        <span asp-validation-for="Product.RAM" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Storage"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Storage" class="form-control" />
                        <span asp-validation-for="Product.Storage" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.MainCamera"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.MainCamera" class="form-control" />
                        <span asp-validation-for="Product.MainCamera" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.FrontCamera"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.FrontCamera" class="form-control" />
                        <span asp-validation-for="Product.FrontCamera" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CameraFeature"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.CameraFeature" class="form-control summernote"></textarea>
                        <span asp-validation-for="Product.CameraFeature" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.BatteryCapacity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.BatteryCapacity" class="form-control" />
                        <span asp-validation-for="Product.BatteryCapacity" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.ChargingSpeed"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.ChargingSpeed" class="form-control" />
                        <span asp-validation-for="Product.ChargingSpeed" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.AudioJack"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.AudioJack" class="form-control" />
                        <span asp-validation-for="Product.AudioJack" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.WirelesCharging"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.WirelesCharging" class="form-control" />
                        <span asp-validation-for="Product.WirelesCharging" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control summernote"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        Image
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Product.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryId" asp-items="@Model.CategorySelectList" class="form-control">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>
                </div>



                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            @if (Model.Product.Id != 0)
                            {
                                //update
                                <input type="submit" class="btn btn-info w-100" value="Update" />
                            }
                            else
                            {
                                //Create
                                <input type="submit" onclick="return validateInput()" class="btn btn-primary w-100" value="Create" />
                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                Back
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-4">
                @*keep this empty*@
                @if (Model.Product.Id != 0)
                {
                    <img src="@WC.ImagePath@Model.Product.Image" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>

        </div>

    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />


    }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });
        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Error!',
                    'Please upload an Image!',
                    'error'
                )
                return false;
            }
            return true;
        }
    </script>
}

