@model WorthIt.Models.ViewModels.HomeVM

<style>


    .popup-btn a {
        top: 600px;
        position: fixed;
        right: -57px;
        z-index: 1000;
        transform: rotate(-90deg);
        background-color: red;
        padding: 10px 20px 35px;
        height: 0px;
        background-color: #343a40;
        color: #fff;
    }

        .popup-btn a:hover {
            text-decoration: none;
            color: #fff;
            background-color: #ad7d52;
        }
</style>


<div class="container">
    <div class="text-center">
        <button class="btn btn-dark filter-button" data-filter="all">All</button>
        @foreach (var obj in Model.Categories)
        {
            <button class="btn btn-outline-secondary filter-button " data-filter="@obj.Name.ToLower().Replace(' ','_')">
                @obj.Name
            </button>
        }

        <input id="myInput" type="text" placeholder="Search..">

        @*<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 search-textbox" type="search" placeholder="Search" aria-label="Search">
            </form>*@


    </div>
    <br />
    <div class="row">
        @foreach (var prod in Model.Products)
        {
            <partial name="_IndividualProductCard" model="prod" />
            //display all product
        }
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-12">
            <div class="popup-btn" data-toggle="modal" data-target="#aboutModal">
                <a href="#id01">About This Page</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About This Page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="text-align:justify">
                    Worth it adalah platform yang menyediakan sarana untuk melakukan pembandingan pada produk elektronik.
                    Dengan data yang akurat serta presentasi yang menarik dan mudah dipahami, diharapkan dapat membantu
                    user dalam memilih smarthpone yang ingin mereka miliki. Saat ini platform kami mencakup produk-produk smartphone dan dimungkinkan pada masa yang akan datang
                    dapat memperluas cakupan kategori.
                </p>
                <br />
                *Aplikasi berbasis web ini dibuat dalam rangka memenuhi tugas praktikum Pemrograman Berorientasi Objek Universitas Gadjah Mada.
                <br /><br />

                Meet the team: <br />
                M Rifat Bagus A (muhammadrifatba@mail.ugm.ac.id)<br />
                Nismara Chandra H (nismara.chandra@mail.ugm.ac.id)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@
    <script>
        $(document).ready(function () {
            $(".filter-button").click(function () {
                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');
                }
            });
        });


        $(document).ready(function () {
            $("input").on("keyup", function () {
                var key = $(this).val().replace(/\s+/g, '_').toLocaleLowerCase();
                console.log(key);
                if (key == "") {
                    $('.filter').show('1000');
                }
                else {
                    $('.filter').filter('[class*=' + key + ']').show('3000');
                    $(".filter").not('[class*=' + key + ']').hide('3000');

                }
            });
        });
    </script>
}
